
*.class

*.jar

SLIT-Server/dist/gfdeploy/SLIT-Server/SLIT-Application_jar/.netbeans_automatic_build

SLIT-Server/dist/gfdeploy/SLIT-Server/SLIT-Application_jar/.netbeans_update_resources

*.MF

*.dpf

*.xml

*.res

*.rapt

SLIT-Server/dist/gfdeploy/SLIT-Server/SLIT-Server-ejb_jar/.netbeans_update_resources

SLIT-Server/dist/gfdeploy/SLIT-Server/SLIT-Server-ejb_jar/.netbeans_automatic_build

*.css

*.jpg
/SLIT-Server/dist/