/SLIT-Server/nbproject/private/
/SLIT-Server/SLIT-Server-ejb/nbproject/private/
/SLIT-Interfaces/nbproject/private/
/SLIT-Application/nbproject/private/
/SLIT-Server/SLIT-Server-ejb/build/
/SLIT-Interfaces/dist/
/SLIT-Server/build/
/SLIT-Interfaces/build/
/SLIT-Application/dist/
/SLIT-Application/build/
/SLIT-Server/SLIT-Server-ejb/dist/
/SLIT-Server/dist/
/SLIT-gui/dist/
/SLIT-gui/build/