/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2016, 3:32:51 PM
    Author     : Johnjnsen
*/

.root {
     -fx-background-image: url("background.jpg");
}
.AnchorPane {
     -fx-background-image: url("background.jpg");
}
